body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/lady.avif);
    background-repeat: repeat;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: #812424;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 100px;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-title {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Ephesis', cursive;
}

h1 {
    margin-top: 0;
    font-family: 'Ephesis', cursive;
    font-size: 70px;
    float: left;
}

.container {
    text-align: center;
    padding: 60px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: white;
    border-style: double;
    
}

#descriptionContainer {
    margin-top: 20px;
    padding: 0px 20px;
}

.book-description {
    border-style: double;
    background-color: white;
    padding: 50px;
   
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#searchButton,
#resetButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#searchButton {
    background-color: rgb(23, 110, 84);
    color: #f2f2f2;
    border: 1px solid #000;
}

#resetButton {
    background-color: transparent;
    color: #f2f2f2;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../assets/img/lady.avif);
        background-repeat: repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        display: block;

    }

    #results{
        margin-top: 40px;
    }

    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .navbar-title {
        float: right;
        text-align: center;
    }

    .container {
        text-align: center;
        padding: 60px 16px 60px; /* Adjusted padding */
        display: flex;
        flex-direction: column;
    }

    .book {
        flex-basis: 100%;
        
    }

    #descriptionContainer {
        padding: 0;
    }

    .book-description {
        padding: 30px;
    }

    .search-container {
        flex-direction: column;
    }

    #searchInput {
        margin-bottom: 10px;
    }
}